<h1>About to Meadowlark Travel</h1>

<p>Your fortune for the day:</p>
<blockquote>{{fortune}}</blockquote>
 <a href="/contact">contact link</a>
<h3>the message: {{message}}</h3>
<h3>style: {{style}}</h3>
<h3>userid: {{userid}}</h3>
<h3>username: {{username}}</h3>